html {
    position: relative;
    font-family: 'DM Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    min-height: 200vh;
    background: #fff;
    color:#000;
}
