/* Body */

* {
    margin: 0;
    padding: 0;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-style: normal;
    font-weight: 400;
    line-height: inherit;
    vertical-align:baseline
}

html {
    position: relative;
    font-family: 'DM Sans', sans-serif;
    font-size: 21px;
    line-height: 28px;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    min-height: 200vh;
    background: #fff;
    color:#000;
}

@media (max-width: 860px) {
    html {
        font-size: 17.5px;
        line-height:24.5px
    }
}

@media (max-width: 600px) {
    html {
        font-size: 12.25px;
        line-height:17.5px
    }
}

/* Typography */

p + p {
	text-indent: inherit;
	margin-top: inherit;
}

.intro {
  font-size: 1.25rem;
  line-height: 1.6;
  margin-bottom: 8px;
}

h1 {
  font-size: 1.875rem;
  line-height: 1.4;
  margin-bottom: 32px;
  letter-spacing: -.1px;

  @media () {
    font-size: ;
    margin-bottom: ;
  }
}

.mega {
  font-size: 2.25rem;
  line-height:  1.385;
  margin-top: 32px;
  margin-bottom: 32px;
  letter-spacing: -.1px;

  @media () {
    font-size: ;
    margin-bottom: ;
  }
}

h2 {
  font-size: 1.25rem;
  line-height: 1.55;
  margin-bottom: 8px;
  letter-spacing: -.1px;

  @media () {
    font-size: ;
    margin-bottom: ;
  }
}

h3 {
  font-size: 1.125rem;
  line-height: 1.455;
  margin-top: 8px;
  margin-bottom: 8px;
  letter-spacing: -.1px;
}

h4 {
  font-size: 1.125rem;
  line-height: 1.455;
  margin-top: 8px;
  margin-bottom: 8px;
  letter-spacing: -.1px;
}

h5 {
  font-size: 1.125rem;
  line-height: 1.455;
  margin-top: 8px;
  margin-bottom: 8px;
  letter-spacing: -.1px;
  font-weight: 600;
}

h6 {
  font-size: 0.8125rem;
  line-height: 1.5;
  margin-top: 0px;
  margin-bottom: 8px;
  letter-spacing: -.1px;
}
