/* Body */

html {
    font-family: "DM Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    background: #fff;
    color:#000;
}

@media (max-width: 860px) {
    html {
    }
}

@media (max-width: 600px) {
    html {
    }
}
