<!DOCTYPE html>
<html lang="cs-CZ">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>#malynakupvelkapomoc</title>
  <meta name="description" content="Podpoř malé podniky a zapoj se do iniciativy #malynakupvelkapomoc.">
  <meta name="author" content="">
  
  <meta property="og:type" content="article">
  <meta property="og:url" content="https://malynakupvelkapomoc.cz">
  <meta property="og:title" content="Podpoř malé podniky a zapoj se do iniciativy #malynakupvelkapomoc.">
  <meta property="og:image" content="https://malynakupvelkapomoc.github.io/assets/images/og-image.png">
  <meta property="og:image:width" content="1024">
  <meta property="og:image:height" content="538">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="https://fonts.googleapis.com/css?family=DM+Sans:400,700&display=swap&subset=latin-ext" rel="stylesheet">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="./assets/css/normalize.css">
  <link rel="stylesheet" href="./assets/css/skeleton.css">
  <link rel="stylesheet" href="./assets/css/style.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="./assets/images/favicon.png">

  <!-- All links open in a new window
  –––––––––––––––––––––––––––––––––––––––––––––––––– 
  <base target="_blank"> -->
  
  <!-- Newsletter
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/unique-methods/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script><script type="text/javascript">window.dojoRequire(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us19.list-manage.com","uuid":"00622990f8713a37af8cdb58b","lid":"fdf3f5bff2","uniqueMethods":true}) })</script>
  
</head>
  <body>
    <header class="header header-inner">
      <div class="container">
        <div class="row">
          <div class="two columns">
            &nbsp;
          </div>
          <div class="ten columns">
            <a href="./" class="nounderline" id="header"><strong>#malynakupvelkapomoc</strong></a>
            <a href="https://bit.ly/malynakupvelkapomocregistry" target="_blank" class="float-right">Máte malou firmu?</a>
          </div>
        </div>
      </div>
    </header>

    <section class="content">
      <div class="container">
        <div class="row">
          <div class="two columns sidenav sticky">
            &nbsp;
          </div>
          <div class="ten columns notice">

          {{ content }}

          </div>
        </div>
      </div>
    </section>

    <footer class="header">
      <div class="container">
        <div class="row">
          <div class="four columns">
            &nbsp;
          </div>
          <div class="four columns">
            <a href="https://artspeakpr.com/"><img class="logo-img" src="./assets/images/logo.png"></a>
          </div>
          <div class="four columns">
            &nbsp;
          </div>
        </div>
      </div>
    </footer>

  </body>
</html>
