<!DOCTYPE html>
<html lang="cs-CZ">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Your page title here :)</title>
  <meta name="description" content="">
  <meta name="author" content="">
  <meta property="og:image" content="./images/og-image.png">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="https://fonts.googleapis.com/css?family=DM+Sans:400,700&display=swap&subset=latin-ext" rel="stylesheet">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="./assets/css/normalize.css">
  <link rel="stylesheet" href="./assets/css/skeleton.css">
  <link rel="stylesheet" href="./assets/css/style.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="/images/favicon.png">

</head>
  <body>
    <header class="header header-inner">
      <div class="container">
        <div class="row">
          <div class="two-thirds column">
            <a href="/" class="nounderline"><strong>Malý nákup velká pomoc</strong></a>
            <a href="/" class="float-right nounderline">Lost your gig?</a>
          </div>
        </div>
      </div>
    </header>

    <section class="content">
      <div class="container">
        <div class="row">
          <div class="two-thirds column notice">

            {{ content }}

          </div>
        </div>
      </div>
    </section>
    
    <footer class="header">
      <div class="container">
        <div class="row">
          <div class="two-thirds column">
          </div>
        </div>
      </div>
    </footer>

  </body>
</html>
